/* .section-heading{
    color: #2b2b2b;
    font-size: 48.77px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 7px;
    position: relative;
    z-index: 1;
    font-family:sans-serif;
} */
.section-heading::before{
    content: "";
    position: absolute;
    top: -40px;
    left: -70px;
    width: 114px;
    height: 108px;
    background-image: url(https://html.merku.love/shelly/assets/img/sec-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
}
/* .section-title{
    margin-bottom: 42px;
} */
/* .section-title > p{
    color: #575757;
    font-size: 14.23px;
    line-height: 22.35px;
    max-width: 530px;
    margin-bottom: 7px;

} */
.crt-btn{
    position: absolute;
    bottom: -19px;
    right: 40px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 100px;
    background: linear-gradient(180deg,#fdc830,#f37335);
    text-align: center;
}
.class-info{
    padding: 24px 15px 27px;
    border: 1px solid #d6d6d6;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

.class-info > span{
    display: inline-block;
    color: #575757;
    font-size: 14.23px;
    margin-bottom: 21px;
}
.posted-by > a{
    display: inline-block;
    color: #575757;
    font-size: 14.23px;
    padding-left: 7px;
    font-weight: 600;
}

.price{
    margin-left: auto;
    color: #155799;
    font-size: 18.29px;
    font-weight: 700;
    font-family: Poppins,sans-serif;
}